@charset "utf-8";
/* CSS Document */

body{
	pading: 0;
	margin: 0;
}

h1 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 50px;
  font-family: "Noto Sans CJK TC",Bold;
}
h1:before {
  position: absolute;
  content: "";
  bottom: -20px;
  width: 200px;
  height: 2px;
  background: #FD4A5C;
}
h2 {
  position: relative;
  text-align: center;
  color: #353535;
  font-size: 18px;
  font-family: "Noto Sans CJK TC",Medium;
}

p {
  font-family: "Noto Sans CJK TC",Medium;
  font-weight: 300;
  color: #676767;
}

li{
	font-family: "Noto Sans CJK TC",Medium;
}
.center_text{
	text-align: center;
}

.content{
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 35em;
	margin: auto;
}

.cardInform{
	width: 50%;
	display: none;
	margin: auto;
}

.btn{
	
	width: 3%;
	height: 3vw;
	background-color: rgba(255, 255, 255, 1);
	border:1px solid  rgba(255, 255, 255, 1);  
	border-radius: 50%;
	
	color: #5e7987;
	font-size: 2vw;
	font-weight: bolder;
}

.btn:hover{
	box-shadow: 2px 2px 5px grey;
	cursor: pointer;
}

.box{
	display: flex;
	align-items: center;
}



.top_menu_btn{
	text-decoration: none;
	color: rgba(231, 225, 224, 0.8)
}

.top_menu_btn:hover{
	-webkit-animation: hue 0.8s linear;
	color: white;
}

#top_menu{
	display: flex;
	width: 70%;
	margin: auto;
	justify-content: space-around;
	color: white;
	position:relative;
	top: -32px;
	list-style: none;
}

#bar{
	background: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 40px;
}
